<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <div class="flex flex-wrap">
            <div class="w-full lg:w-4/12" *ngFor="let list of allList">
                <div class="relative w-full mb-3 border-2" (click)="showDetails(list.id)">
                    <h6 class="text-black font-bold">{{list.name}}</h6>
                    <h6 class="text-black font-semibold">{{list.description}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>