<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
    style="width: 40%; margin: 0 auto;" *ngIf="login">
    <div class="rounded-t mb-0 px-4 py-3 border-0">
        <div class="flex flex-wrap items-center">
            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                <h3 class="font-semibold text-lg">Mis listas</h3>
            </div>

            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                <button class="m-2 p-2 font-semibold rounded-lg" *ngIf="page > 1" type="submit"
                    (click)="pre()">Anterior</button>
                <button class="m-2 p-1 font-semibold">{{page}}</button>
                <button class="m-2 p-2 font-semibold rounded-lg" *ngIf="page < numPages" type="submit"
                    (click)="next()">Siguiente</button>
            </div>
        </div>
    </div>

    <div class="block w-full overflow-x-auto">
        <table class="items-center w-full bg-transparent border-collapse">
            <thead>
                <tr>
                    <th
                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left">
                        Nombre</th>
                    <th
                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left">
                        Elementos en lista</th>
                    <th
                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left">
                        Descripcion</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let list of allList" (click)="getDetails(list.id)">
                    <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 font-semibold">
                        {{list.name}}</td>
                    <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 font-semibold">
                        {{list.item_count}}</td>
                    <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 font-semibold">
                        {{list.description}}</td>
                </tr>
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0" *ngIf="showDetails">
                    <div class="flex flex-wrap">
                        <div class="w-full lg:w-4/12 mr-4" *ngFor="let movie of movieFavList">
                            <div class="relative w-full mb-3">
                                <img [src]="showImgMovie(movie.poster_path)" alt="Portada película {{movie.title}}"
                                    class="border-2 border-blueGray-50 shadow" style="width: 100%;" />
                                <p class="text-xs">{{movie.title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
</div>