<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
    style="width: 40%; margin: 0 auto;" *ngIf="login">
    <div class="rounded-t mb-0 px-4 py-3 border-0">
        <div class="flex flex-wrap items-center">
            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                <h3 class="font-semibold text-lg">Mis favoritas</h3>
            </div>

            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                <button class="m-2 p-2 font-semibold rounded-lg" *ngIf="page > 1" type="submit"
                    (click)="pre()">Anterior</button>
                <button class="m-2 p-1 font-semibold">{{page === 1? '' : page}}</button>
                <button class="m-2 p-2 font-semibold rounded-lg" *ngIf="page < numPages" type="submit"
                    (click)="next()">Siguiente</button>
            </div>
        </div>
    </div>

    <div class="block w-full overflow-x-auto">
        <table class="items-center w-full bg-transparent border-collapse">
            <thead>
                <tr>
                    <th
                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left">
                        Portada</th>
                    <th
                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left">
                        Título</th>
                    <th
                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left">
                        Estreno</th>
                    <th
                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left">
                        Detalles</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let movie of favorites">
                    <td class="border-t-0 align-middle border-l-0 border-r-0 whitespace-nowrap"
                        style="margin: 0px; padding: 0px">
                        <img [src]="showImgMovie(movie.poster_path)" alt="Portada película {{movie.title}}" width="40%"
                            style="margin: 0 auto; padding-bottom: 5px" />
                    </td>
                    <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 font-semibold">
                        {{movie.original_title}}</td>
                    <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 font-semibold">
                        {{movie.release_date}}</td>
                    <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 font-semibold">
                        <button>Ver</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>