<img mat-card-image [src]="showImg(data.movieInfo.poster_path)"
        onerror="this.src='https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-4-user-grey-d8fe957375e70239d6abdd549fd7568c89281b2179b5f4470e2e12895792dfa5.svg'"
        alt="Foto Cartelera Película">
<h1 mat-dialog-title>{{data.movieInfo.title}}</h1>
<div mat-dialog-content style="width: 900px;">
    <ul>
        <li><strong>Fecha de estreno:</strong> {{data.movieInfo.release_date}}.</li>
        <li><strong>Vista general:</strong> {{data.movieInfo.overview}}.</li>
    </ul>
    <button mat-icon-button (click)="addMovie(data.movieInfo.id)" *ngIf="login != null">
        <!--<mat-icon>favorite</mat-icon>-->
    </button>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </div>
</div>