<div style="margin: 100px auto; text-align: center;">
  <div class="flex flex-wrap">
    <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
      <button><a [routerLink]="['/admin/films']" class="text-xs uppercase py-3 font-bold block">
          <i class="fas fa-solid fa-film mr-2 text-sm"></i>
          Películas
        </a></button>
    </div>
    <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
      <button><a [routerLink]="['/admin/person-list']" class="text-xs uppercase py-3 font-bold block">
          <i class="fas fa-solid fa-users mr-2 text-sm"></i>
          Actores
        </a></button>
    </div>
  </div>
  
  <div class="flex flex-wrap mt-4" *ngIf="login">
    <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
      <button><a [routerLink]="['/auth/favorites']" class="text-xs uppercase py-3 font-bold block">
          <i class="fas fa-solid fa-heart mr-2"></i>
          Mis favoritas
        </a></button>
    </div>
    <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
      <button><a [routerLink]="['/rated']" class="text-xs uppercase py-3 font-bold block">
          <i class="fas fa-solid fa-star mr-2"></i>
          Valoradas
        </a></button>
    </div>
  </div>
</div>